<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
/* footer */
    .fc-top {
        padding: 0 0 !important;
    }

    ._customer-footer {
        width: 100%;
        min-width: 700px;
        display: block;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        background-image: -moz-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,156,214) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,156,214) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,156,214) 100%);
        box-shadow: 0 0 10px 0 rgba(0, 89, 123, 0.2);
    }

    ._customer-footer__wrap {
        max-width: 1227px;
        margin: auto;
        padding: 0 20px;
    }

    ._customer-footer__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        padding: 57px 0 51px;
    }

    ._customer-footer__cnt {
        color: #84d5f3 !important;
        margin: 0 !important;
        text-decoration: none !important;
        font-weight: 300;
    }

    ._customer-footer__cnt:hover {
        color: #ffffff !important;
        text-decoration: underline !important;
    }

    ._customer-footer__cnt--bold {
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        margin-top: 10px;
    }

    ._customer-footer__catalog-list {
        margin: 0 10px 0 0;
    }

    ._customer-footer__catalog-list:last-child {
        margin-right: 0;
    }

    ._customer-footer__contact-block {
        color: #ffffff;
        margin-right: 10px;
    }

    ._customer-footer__ul {
        list-style: none !important;
        margin: 21px 0 0 0 !important;
        padding: 0;
    }

    ._customer-footer__ul li {
        margin-bottom: 15px;
    }

    ._customer-footer__phone {
        position: relative;
        font-size: 18px;
        font-weight: 700;
    }

    ._customer-footer__phone a,
    ._customer-footer__mail a {
        color: #ffffff !important;
        text-decoration: none;
    }

    ._customer-footer__phone:before {
        content: url("img/footer/footer-phone.png");
        position: absolute;
    }

    ._customer-footer__mail {
        position: relative;
        margin-bottom: 22px;
        margin-top: 21px;
    }

    ._customer-footer__mail:before {
        content: url("img/footer/footer-mail.png");
        position: absolute;
        top: 3px;
    }

    ._customer-footer__map {
        position: relative;
        margin-bottom: 22px;
    }

    ._customer-footer__map:before {
        content: url("img/footer/footer-maps.png");
        position: absolute;
        top: 6px;
    }

    ._customer-footer__phone a:hover,
    ._customer-footer__mail a:hover {
        text-decoration: underline;
    }

    ._customer-footer__work {
        line-height: 20px;
        position: relative;
        margin-bottom: 22px;
    }

    ._customer-footer__work:before {
        content: url("img/footer/footer-clock.png");
        position: absolute;
    }

    ._customer-footer__mail span,
    ._customer-footer__map span,
    ._customer-footer__phone span,
    ._customer-footer__work span{
        padding-left: 30px;
    }

    ._customer-footer__bottom {
        font-size: 13px;
        width: 100%;
        min-width: 700px;
        height: 50px;
        display: block;
        background: #00b1f4;
        color: #0079a7;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 50px;
    }

    @media (max-width: 1198px) {
        ._customer-footer__catalog-list {
            margin-right: 30px;
        }
    }
/* end_footer */
</style>
<!-- Footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer__wrap">
        <div class="_customer-footer__container">
            <div class="_customer-footer__catalog-list">
                <div class="_customer-footer__cnt--bold">Покупателям</div>
                <ul class="_customer-footer__ul">
                    <li><a class="_customer-footer__cnt" href="/about">О компании</a></li>
                    <li><a class="_customer-footer__cnt" href="/catalog">Товары и услуги</a></li>
                    <!-- <li><a class="_customer-footer__cnt" href="#">Доп. страница</a></li> -->
                    <!--<li><a class="_customer-footer__cnt" href="#">2-я доп. страница</a></li>-->
                    <li><a class="_customer-footer__cnt" href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="_customer-footer__catalog-list">
                <div class="_customer-footer__cnt--bold">Продукция</div>
                <ul class="_customer-footer__ul">
                    <li><a class="_customer-footer__cnt" href="/catalog/k-5100467-fitingi">Фитинги</a></li>
                    <li><a class="_customer-footer__cnt" href="/catalog/k-5100460-truby">Трубы</a></li>
                    <li><a class="_customer-footer__cnt" href="/catalog/k-5100452-pozharnoye_oborudovaniye">Пожарное оборудование</a></li>
                    <!--<li><a class="_customer-footer__cnt" href="#">Товарная категория 4</a></li>-->
                    <!--<li><a class="_customer-footer__cnt" href="#">Товарная категория 5</a></li>-->
                </ul>
            </div>
            <div class="_customer-footer__contact-block">
                <div class="_customer-footer__cnt--bold">Контакты</div>
                <div class="_customer-footer__mail">
                    <span><a href="mailto:istoktm@yandex.ru" itemprop="email"
                             onclick="yaCounter47259756.reachGoal('megasite_footer_email'); return true;">
                        istoktm@yandex.ru</a></span>
                </div>
                <div class="_customer-footer__map" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="addressLocality">г. Краснодар</span><br />
                    <span itemprop="streetAddress">ш. Ростовское, 14, 2</span>
                </div>
                <div class="_customer-footer__work" content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours">
                    <span>Пн.-Пт.: 9:00-18:00</span>
                </div>
                <div class="_customer-footer__phone">
                    <span><a href="tel:+78612921888" itemprop="telephone"
                             onclick="yaCounter47259756.reachGoal('megasite_footer_tel'); return true;">
                        +7 (861) 292-18-88</a>
                    </span>
                </div>
            </div>
            <div class="_customer-footer__maps-block">
                <img itemprop="logo" src="img/footer/maps.png" />
            </div>
        </div>
    </div>
</footer>

<div class="_customer-footer__bottom">
    <div class="_customer-footer__wrap">&copy; <span itemprop="name">ПКФ Водник,</span> 2017&mdash;2019</div>
</div>
<!-- end Footer -->