<meta charset="UTF-8">
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
._customer__toolbar {
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	background-image: -moz-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,179,247) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,179,247) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(1,139,192) 0%, rgb(0,179,247) 100%);
	box-sizing: border-box;
	font-weight: 400;
	height: 57px;
	white-space: nowrap;
	font-family: Arial, sans-serif;
}
._customer-toolbar-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1207px;
	box-sizing: border-box;
	height: 100%;
	padding-left: 10px;
	padding-right: 20px;
}
._customer__toolbar-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._customer__toolbar-logo {
	width: 91px!important;
	height: 36px!important;
}
._customer__toolbar-nav {
	margin-left: 35px;
}
._customer__toolbar-link {
	font-size: 13px!important;
	line-height: 1.2;
	text-transform: uppercase!important;
	color: #ffffff !important;
	padding: 0 8px 0;
	margin: 0 0 0 0 !important;
	text-decoration: none !important;
	cursor: pointer;
	box-sizing: border-box;
}
._customer__toolbar-link:hover {
	text-decoration: underline!important;
}
._customer__toolbar-contact {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	line-height: 24px;
	font-weight: 400 !important;
}
._customer__toolbar-email {
	font-size: 15px;
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/mail.png') no-repeat 0 5px;
	color: #ffffff !important;
	text-decoration: none !important;
	margin-left: 5px;
}
._customer__toolbar-phone {
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/phone.png') no-repeat 0 4px;
	color: #ffffff !important;
	margin: 0 0 0 40px !important;
	text-decoration: none !important;
	position: relative;
}
._customer__toolbar-phone:hover, ._customer__toolbar-email:hover {
	text-decoration: underline!important;
}
._customer-toolbar__form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	width: 265px;
	height: 40px;
	margin-top: 8px;
	background-color: #ffffff;
	box-sizing: border-box;
}
._customer-toolbar__inp {
	height: 40px !important;
	width: 265px;
	border: none;
	color: #828282;
	font-size: 12px;
	outline: none;
	padding: 0 40px 0 10px;
	box-sizing: border-box;
}
._customer-toolbar__form button {
	width: 40px !important;
	height: 40px !important;
	border: none !important;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	outline: none !important;
	opacity: 1 !important;
	top: 0;
	right: 0;
}
._customer-toolbar__search-btn:before {
	width: 40px !important;
	height: 40px !important;
	content: url('img/toolbar/search.png') !important;
	background: #00b0f4;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	box-sizing: border-box;
}
._customer-toolbar__form button:hover {
	opacity: 0.7!important;
}
._customer-toolbar__inp::-webkit-input-placeholder {
	color: #96a8bf;
}
._customer-toolbar__inp::-moz-placeholder {
	color: #96a8bf;
}
._customer-toolbar__inp:-moz-placeholder {
	color: #96a8bf;
}
._customer-toolbar__inp:-ms-input-placeholder {
	color: #96a8bf;
}
@media (max-width: 1160px) {
	._customer__toolbar-nav {
		margin-left: 10px;
	}
	._customer__toolbar-link {
		font-size: 12px !important;
	}
	._customer__toolbar-contact {
		font-size: 13px !important;
	}
	._customer__toolbar-link {
		padding: 0 5px 0;
	}
	._customer__toolbar-phone {
		margin: 0 0 0 10px !important;
		font-size: 15px;
	}
	._customer-toolbar__inp {
		width: 235px;
	}
	._customer-toolbar__form {
		width: 235px;
	}
}
</style>
<div class="_customer__toolbar">
	<div class="_customer-toolbar-container">
		<div class="_customer__toolbar-left">
			<a class="_customer__toolbar-logo" href="http://www.pkfvodnik.ru/">
				<img class="_customer__toolbar-logo-img" src="img/toolbar/logo.png" />
			</a>
			<div class="_customer__toolbar-nav">
				<a class="_customer__toolbar-link" href="/about">О компании</a>
				<a class="_customer__toolbar-link" href="/catalog">Ассортимент</a>
				<a class="_customer__toolbar-link" href="/contacts">Контакты</a>
			</div>
		</div>
		<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.pkfvodnik.ru/catalog"
			  class="search-form with-search-icon _customer-toolbar__form" method="get"
			  onsubmit="formSubmitter.disableButtons(this, null, null);">
			<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
			<div class="_customer-toolbar-input-cnt sf-input-wrapper _customer-toolbar__input-wrapper">
				<input class="sf-input js-reset-field _customer-toolbar__inp" id="q" maxlenght="255" name="q"
					   placeholder="Найти товар или услугу..." type="text" />
				<button class="custom-button _customer-toolbar__search-btn"
						name="commit" type="submit" value="Поиск">
				</button>
			</div>
		</form>
		<div class="_customer__toolbar-contact">
			<a class="_customer__toolbar-email" href="mailto:istoktm@yandex.ru"
			   onclick="yaCounter47259756.reachGoal('megasite_toolbar_email'); return true;">
				istoktm@yandex.ru
			</a>
			<a class="_customer__toolbar-phone" href="tel:+78612921888"
			   onclick="yaCounter47259756.reachGoal('megasite_toolbar_tel'); return true;">
				+7 (861) 292-18-88
			</a>
		</div>
	</div>
</div>

